body {
  background: #333;
  color: #fff; }

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8; }

#main .home-inner {
  padding-top: 50px; }

#main .fa {
  color: #008ed6;
  border-radius: 5px;
  font-size: 25px; }
